<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change User Page</title>
</head>
<body>
    <h1> Change User Page </h1>
    <a href="{% url 'index'%}"><button> Go Back </button></a>
    
    <br><br>
    <hr>
    <br><br>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="username" placeholder = "Change New User Name "> <br><br>
        <input type="text" name="useremail" placeholder = "Change New Email "> <br><br>
        <input type="file" name="useravatar"> <br><br>

        <button type="submit"> Submit </button>

        <p> {{ error }} </p>
    </form>
</body>
</html>